
div(class="edit-task-form-holder")
  div(class="edit-task-form-content")
    h3 Edit task
    form(class="" id="edit-task-form")
      div
        label(for='taskName') Task
        input(class="taskNameField" type='text' name='taskName' placeholder='')
      div
        label(for='dueDate') Due Date
        input(class="dueDateField" type='text', name="dueDate", placeholder='')
      div
        label(for='description') Description
        textarea(class="descriptionField" name="description", placeholder='')
      button(class="gen-button ") Update


script(type="text/javascript").
 const editTaskForm = document.querySelector(".edit-task-form-holder");

    window.onclick = function(event) {
    if (event.target === editTaskForm) {
      editTaskForm.style.display = "none";
    }
  }
