.form-group
  input(type='email' name='email' class='registration-form__input-field' placeholder='Email')
.form-group
  input(type='password' name='password' class='registration-form__input-field' placeholder='Password')
