.form-group
  label(for='email') Email
  input(type='email' name='email' placeholder='Enter your email address')
.form-group
  label(for='password') Password
  input(type='password' name='password' placeholder='Enter password')
