doctype html
html
  head
    link(rel='stylesheet' href='css/style.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.1/css/all.css")
    meta(name="description" content="DFTM App")
    meta(name="title" property="og:title" content="DFTM")
    meta(property="og:type" content="Website")
    meta(name="image" property="og:image" content="https://live.staticflickr.com/65535/50927578032_80cba3466f_c.jpg")
    meta(name="description" property="og:description" content="DFTM App")
    meta(name="author" content="DFTM Team")
    title Page not found
  body
    block content
      div(class="not-found-notify-container")
        div(class="not-found-notify-container__text-container")
          p(class="not-found-notify-container__text") The page you requested could not be found
          img(src="./images/dtfm-not-found-cow.png" height="150px")
        div(class="not-found-notify-container__button-container")
          a(type="button" class="not-found-notify-container__button" href="/") Home
