button(id="testBtn") test

div(class="edit-task-form-holder")
  div(class="edit-task-form-container")
    h3 Edit Task
    form(class="edit-task-form")
      .form-group
        label(for='taskName') Task
        input#username.form-control(type='text' name='taskName' placeholder='')
      .form-group
        label(for='dueDate')
        input#email.form-control(type='email', name="dueDate", placeholder='')
      .form-group
        label(for='description') Description
        input#password.form-control(type='password', name="description", placeholder='')
    button(class="gen-button")  Update

script(type="text/javascript").
  editTaskForm = document.querySelector(".edit-task-form-holder");
  testBtn = document.getElementById("testBtn");

  testBtn.onclick = () => {
    editTaskForm.style.display = "block";
  }

    window.onclick = function(event) {
    if (event.target === editTaskForm) {
      editTaskForm.style.display = "none";
    }
  }
script(type="module" src="js/delete-tasks.js")
