extends layout.pug

block content
  include includes/nav

  div(class="grid__container")
    div(class="grid__left-col" id="")
      div(class="logo-container")
      div(class="left-col__all-tasks") 
        div(class="list-all-tasks-container") This holds all tasks
      div(class="left-col__list-categories") 
        div(class="list-cat-container") This holds the categories

    div(class="grid__mid-col")
      div(class="mid-col-list-header")
        h5(id="list-header") placeholder...
      div(class="task-total")
        <span class="total-task-span"> 76 </span> <br> tasks

      div(class="completed-total")
        <span class="completed-tasks-span"> 8 </span> <br> completed
   
      div(class="divider")
      div(class="tab-container")
        button(class="task-tab") Incomplete
        button(class="task-tab") Completed

      form(class="add-task-form" id="add-task")
        input(class="add-task-input" id="add-task" type="input" placeholder="Add a task..." aria-label="Add a task..." name="")
        button(class="add-task-btn" type="submit") Add Task

      div(class="task-list-container")
        div(class="task-container") 
          div(class="task") FORGET the milk!


    div(class="grid__right-col")
      div(class="right-col__task-info")
        div(class="info-header" ) due 
          span(class="info-span") never
        div(class="info-header") list
          span(class="info-span")  Personal
        div(class="task-description") THIS HOLDS THE DESCRIPTION
      div(class="right-col__extra-options") 
        form(class="notes-form")
          label(for='notes') Notes
          input(class="notes-input" type='notes', name="notes", placeholder='Add a note...')


  script(type="module" src="js/search-feature.js")