extends layout.pug

block content
  include includes/nav
  include includes/modal-no-match
  include includes/edit-task-form



  div(class="grid__container")
    div(class="grid__left-col" id="")
      div(class="logo-container")
        img(src="" class="logo-dftm")
      div(class="left-col__list-categories")
        a(class="all-lists" id="all-lists") Lists
          button(id="add-list-button" class="add-list-button fa fa-plus fa-fw")
          div(id="list-drop-content" class="list-drop-content" style="display:none")
            form(class="add-list-form" id="add-list-form")
              label(for='listName')
              input(id="add-list-input" class="add-list-input" type="input" name="listName" placeholder="List name..." aria-label="List name...")
              button(id="add-new-list" type="submit") Add
        div(class="list-cat-container") This holds the categories

        //- div(id="myModal" class="modal")
        //-   div(class="modal-content")
        //-     div(class="modal-header")
        //-       span(id="close-button" class="close") &times;
        //-       h2 Rename list
        //-       p(class="old-list-name") List name
        //-     div(class="modal-body")
        //-       form(class="edit-list-form" id="edit-list-form")
        //-         label(for="newListName")
        //-         input(class="rename-list" name="newListName")
        //-         button(id="submit-edit" class="submit-edit") Save
              //- button(class="cancel-edit") Cancel

        script(type="module" src="js/list.js")


    div(class="grid__mid-col")
      div(class="mid-col-list-header")
        h2(id="list-header") placeholder...
      div(class="task-total")
        <span class="total-task-span"> </span>  <br> tasks

      div(class="completed-total")
        <span class="completed-tasks-span"> </span> <br> completed

      div(class="overdue-total")
        <span class="overdue-tasks-span">  </span> <br> overdue

      div(class="divider")
      div(class="tab-container")
        button(class="incomplete-task-tab") Incomplete
        button(class="complete-task-tab") Completed

      form(class="add-task-form" id="add-task")
        label(for="new-task")
        input(class="add-task-input" type="input" placeholder="Add a task..." aria-label="Add a task..." name="new-task")
        button(class="add-task-btn generic-btn" type="submit") Add Task

      div(class="task-list-container" id="task-list-container")
        div(class="task-container")
          div(class="task") FORGET the milk!


    div(class="grid__right-col")
      div(class="right-col__task-info")
        div(class="info-header" ) due
          span(class="date-span") never
        div(class="info-header") list
          span(class="list-span")  Personal
        div(class="task-description") THIS HOLDS THE DESCRIPTION
      div(class="right-col__extra-options")
        form(class="notes-form")
          label(for='notes') Notes
          input(class="notes-input" type='notes', name="notes", placeholder='Add a note...')
          button(class="generic-btn" type="submit") Save
          button(class="generic-btn cancel-btn" type="submit") Cancel


  script(type="module" src="js/search-feature.js")
  script(type="module" src="js/tasks.js")
  script(type="module" src="js/list-summary/total-tasks.js")
  script(type="module" src="js/list-summary/overdue-tasks.js")
  script(type="module" src="js/list-summary/completed-tasks.js")
  script(type="module" src="js/add-tasks.js")
  script(type="module" src="js/delete-tasks.js")
  script(type="module" src="js/update-tasks.js")
  script(type="module" src="js/complete-incomplete-tab/complete-tab.js")
  script(type="module" src="js/complete-incomplete-tab/incomplete-tab.js")
