doctype html
html
  head
    link(rel='stylesheet' href='css/style.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.1/css/all.css")
    link(rel="icon" href="images/favicon-32x32.png")
    meta(name="description" content="DFTM App")
    meta(name="title" property="og:title" content="DFTM")
    meta(property="og:type" content="Website")
    meta(name="image" property="og:image" content="https://live.staticflickr.com/65535/50927578032_80cba3466f_c.jpg")
    meta(name="description" property="og:description" content="DFTM App")
    meta(name="author" content="DFTM Team")
    title Don't Forget the Milk
  body
    block content
