doctype html
html
  head
    link(rel='stylesheet' href='css/style.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.1/css/all.css")
    link(rel="icon" href="images/favicon-32x32.png")
   
    title Don't Forget the Milk
  body
    block content
