doctype html
html
  head
    link(rel='stylesheet' href='css/style.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.1/css/all.css")
    title Terms
  body
    div(class='fine-print-page')
      div(class='fine-print-page__banner')
        div(class='fine-print-page__banner-logo')
          img(src="./images/rtm-logo-noshadow.png")
        a(href="/register" class='fine-print-page__banner-button') Sign up for free
        div(class='fine-print-page__banner-text')
          h1 Policies
          h2 Please read me, it's important.

      p(class='fine-print-page__text') This is a fake site.  We won't invade your privacy.
