extends layout.pug

block content
  div(class="registration-page")
    div(class="registration-page__left-panel")
      div(class="left-panel__logo-container")
        img(src="./images/rtm-logo-noshadow.png")
      div(class="left-panel__top-filler")
      div(class="left-panel__people-container")
        img(src="./images/peoplewhoneedmilk.jpg")
      div(class="left-panel__text-container")
        p Join millions of people getting more organized and productive!
      div
      div
    div(class="registration-page__right-panel")
      div(class="registration-container")
        div(class="errors-container")
        h2 Create an account
        form(class="registration-form")
          .form-group
            label(for='firstname') First Name
            input(type='text' name='firstname' placeholder='Enter first name')
          .form-group
            label(for='lastname') Last Name
            input(type='text' name='lastname' placeholder='Enter last name')
          .form-group
            label(for='username') Username
            input(type='text' name='username' placeholder='Enter a username')
          include includes/shared-form-fields.pug
          .form-group
            label(for='confirmpass') Confirm Password
            input(type='password' name='confirmpass' placeholder='Confirm password')
          button(type='submit') Register
        a(href='/sign-in') Already registered?
  script(type='module' src='js/register.js')
