doctype html
html
  head
    link(rel='stylesheet' href='css/style.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.1/css/all.css")
    meta(name="description" content="DFTM App")
    meta(name="title" property="og:title" content="DFTM")
    meta(property="og:type" content="Website")
    meta(name="image" property="og:image" content="https://live.staticflickr.com/65535/50927578032_80cba3466f_c.jpg")
    meta(name="description" property="og:description" content="DFTM App")
    meta(name="author" content="DFTM Team")
    title Forgot Password
  body(class="reset-page")
    div()
      div(class='fine-print-page__banner')
        div(class='fine-print-page__banner-logo')
          img(src="./images/dtfm-logo-white.png")
        a(href="/sign-in" class='fine-print-page__banner-button') Log in
        div(class='fine-print-page__banner-text')
          h1 Account
          h2 Your Don't Forget The Milk account.


      article(class="reset-container")
        div(class="reset-body")
          div(class="reset-errors-container")
          h1(class="reset-header") Forgot Password
          alert(class="reset-instructions") Enter your email address below.  An email containing instructions on how to reset your password will be sent.
          form(class="password-reset-form")
            .form-group
              label(for='email' class='password-reset-form__label') EMAIL
              input(type='email' name='email' class='password-reset-form__input-field')
            button(type='submit' class='password-reset-form__button') Reset Password
      div(class="reset-page__bottom")
        img(class="reset-page__bottom-cow" src="./images/resting-cow.png")
  script(type='module' src='js/reset-request.js')
