
extends layout.pug

block content
  div(class="registration-page")
    div(class="registration-page__left-panel")
      div(class="left-panel__logo-container")
        img(src="./images/rtm-logo-noshadow.png")
      div(class="left-panel__top-filler")
      div(class="left-panel__people-container")
        h2(class="left-panel__panel-text") Placeholder for random quotes
        div(class="left-panel__monkey")
          img(src="./images/avatar_bob_60.png" class="left-panel__monkey-picture")
          p(class="left-panel__monkey-text")  Quotes curated by Bob T. Monkey, renowned productivity expert
    div(class="registration-page__right-panel")
      div(class="right-panel__elements-container")
        div(class="right-panel__login-button-container")
          a(href="/register" class="right-panel__login-button") Sign up for free
        div(class="registration-container")
          div(class="errors-container")
          h3 Been here before? Welcome back!
          form(class="sign-in-form")
            //- input(type='hidden' name='_csrf' value=csrfToken)
            include includes/shared-form-fields.pug
            button(type='submit' class='registration-form__button') Log in
  script(type='module' src='js/sign-in.js')
