extends layout.pug

block content
  div
    div(class="errors-container")
    h2 Sign in
    form(class="sign-in-form")
      include includes/shared-form-fields.pug
      button(type='submit') Sign In
    a(href='/register') Need to sign up?
  script(type="module" src="js/sign-in.js")
