doctype html
html
  head
    title Lists

  body

    .lists_container
      ul
        li#1.listElement Personal
        li#2.listElement Work
        li#3.listElement Shopping
      script(src="js/tasks_front.js")
