* {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  color: white;
  background-color: #D7E7F5;
  margin: 0;
  padding: 0;
}

button {
  font-size: 14px;
  border: none;
  font-weight: bold;
  border-radius: 3px;
  background-color: #358CEB;
}

.generic-btn {
  color: white;
  padding: 9px 14px;
  margin-top: 9px;
}

.header-nav__container {
  background-color: #2060BF;
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 0 15px 0 10px;
}

.logo-nav {
  width: 45px;
  height: auto;
}

.logo-dftm {
  width: auto;
  height: 100px;
}

.nav-left-container {
  display: flex;
  align-items: center;
  /* background-color: violet; */
}

.search-form {
  margin-left: 150px;
}

.search-input {
  font-size: 16px;
  border: none;
  border-radius: 3px;
  width: 300px;
  height: 30px;
  background-color: #3D79C9;
  color: white;
  padding-left: 10px;
}

::placeholder {
  color: white;
  opacity: 1; 
}

:-ms-input-placeholder { 
 color: white;
}

::-ms-input-placeholder { 
 color: white;
}
/* ================================================================= */
/* button {
  font-size: 14px;
  border: none;
  font-weight: bold;
  border-radius: 3px;
} */

.nav-right-container {
  display: flex;
  /* background-color: red; */
  align-items: center;
}

.welcome-container {
  margin-right: 15px;
} 

.logout-btn {
  width: 90px;
  height: 30px;
  background-color: #D7E7F5;
  color: #3D79C9;
}

/* Main Grid Styles */
.grid__container {
  font-size: 14px;
  color: black;
  height: 800px;
  margin-top: 8px;
  display: grid;
  grid-template-columns: 1fr 4fr 3fr;
  /* grid-template-rows: ; */
  grid-template-areas:
   "left-col mid-col right-col";
}


/* LEFT COLUMN ================================================================== */

.grid__left-col {
  min-width: 270px;
  grid-area: left-col;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 1fr 2fr;
  min-width: 200px;
  /* max-width: 300px; */
}

.logo-container {
  background-color: royalblue;;
}

.left-col__all-tasks {
}

.list-all-tasks-container {
  background-color: seagreen;
}

.left-col__list-categories  {
}

.list-cat-container {
  background-color: slategray;
}

/* MID COLUMN ================================================================== */

.grid__mid-col {
  min-width: 400px;
  grid-area: mid-col;
  border-radius: 7px;
  background-color: white;
  box-shadow: 1px -2px 5px rgba(0, 0, 0, 0.2);
  display: grid;
  /* grid-template-columns: 1fr 1fr 3fr 3fr; */
  grid-template-columns: 75px 80px 1fr 1fr;
  grid-template-rows: 1fr 0.7fr 1.5fr 13fr;
  grid-template-areas:
    "list-header list-header list-header . "
    "task-total completed-total divider tab-container"
    "add-task-form add-task-form add-task-form add-task-form"
    "task-list task-list task-list task-list";
}

.mid-col-list-header {
  grid-area: list-header;
  padding: 20px 0 0 20px;
}

.mid-col-list-header h2{
  margin: 0;
}

form.add-task-form{
  grid-area: add-task-form;
  border-top: 1px dotted rgba(140, 148, 157, .5);
  border-bottom: 1px dotted rgba(140, 148, 157, .5);
  margin: 0;
  padding: 10px 20px 10px 20px;
}

.add-task-input {
  width: 100%;
  height: 35px;
  border: 1px solid rgba(140, 148, 157, .5);
  border-radius: 3px;
  margin: 0;
  padding: 0 8px;
}

.add-task-btn {
  float:right;
}

.add-task-input::placeholder {
  color: #676767;
  opacity: 0.8;
}

.add-task-input:-ms-input-placeholder { 
 color: #676767;
}

.add-task-input::-ms-input-placeholder { 
 color: #676767;
}

.task-total {
  grid-area: task-total;
  background-color: #DBE8F6;
  width: 60px;
  font-size: 13px;
  border-radius: 5px;
  text-align: center;
  padding: 11px 0;
  line-height: 16px;
  margin-left: 20px;
  margin-bottom: 5px;
}

.total-task-span {
  font-weight: bold;
  font-size: 19px;
  color: #2060BF;
  /* display: block; */
  /* line-height: 19px; */
}

.completed-total {
  grid-area: completed-total;
  font-size: 13px;
  background-color: #DBE8F6;
  color: #8C949D;
  width: 75px;
  border-radius: 5px;
  text-align: center;
  padding: 11px 0;
  line-height: 16px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.completed-tasks-span {
  font-weight: bold;
  font-size: 19px;
  color: #8C949D;
}

.divider {
  grid-area: divider;
  /* background-color: wheat; */
}

.tab-container {
  grid-area: tab-container;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 10px;
  /* background-color: burlywood; */
}

.task-tab {
  width: 100px;
  height: 27px;
  background-color: white;
  font-size: 13px;
  padding: 5px;
  margin-left: 3px;
  position: relative;
  top:1px;
  border: 1px dotted rgba(140, 148, 157, .5);
  border-radius: 2px;
  border-bottom: none;
  /* background-color: lawngreen; */
}

.task-list-container {
  grid-area: task-list;
}

.task-container {
  font-size: 14px;
  height: 35px;
  padding: 3px 0 3px 15px;
  border-bottom: 1px dotted rgba(140, 148, 157, .5);
}

.task {
  border-left: 3px solid #CCCCCC;
  line-height: 28px;
  padding-left: 10px;
  height: 100%;
}

/* RIGHT COLUMN ================================================================= */

.grid__right-col {
  font-size: 14px;
  grid-area: right-col;
  background-color: #E4EEF8;
  box-shadow: 1px -2px 5px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
}

.right-col__task-info {
  padding: 20px;
}

.info-header {
  color: #8C949D;
  margin-bottom: 10px;
}

.info-span {
  font-size: 13px;
  color: black;
  margin-left: 5px;
}

.task-description {
  font-size: 13px;
  width: 100%;
  border: 1px dotted rgba(140, 148, 157, .5);
  border-radius: 3px;
  margin-top: 15px;
  padding: 5px;
}

.right-col__extra-options  {
  border-top: 1px dotted rgba(140, 148, 157, .5);
}

li:hover {
  cursor: pointer;
}

.task:hover {
  cursor: pointer;
}

.notes-form {
  font-size: 20px;
  border-bottom: 1px dotted rgba(140, 148, 157, .5);
  padding: 10px 20px 30px 20px;
}

.notes-input {
  font-size: 14px;
  width: 100%;
  height: 35px;
  border: 1px solid rgba(140, 148, 157, .5);
  border-radius: 3px;
  padding: 0 8px;
  margin-top: 7px;
}

.cancel-btn {
  background-color: #FBFBFA;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-left: 7px;
}

.notes-input::placeholder {
  color: #676767;
  opacity: 0.8;
}

.notes-input:-ms-input-placeholder { 
 color: #676767;
}

.notes-input::-ms-input-placeholder { 
 color: #676767;
}



/* Screen sizes ================================================================= */

@media screen and (max-width: 780px) {

  .search-form {
    margin-left: 50px;
  }

  .search-input {
    width: 200px;
  }

  .grid__container {
    grid-template-columns: 0.7fr 2.5fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
      "left-col right-col"
      "left-col mid-col";
  }

  .grid__left-col {
    min-width: 150px;
  }
  .grid__mid-col {
    grid-template-rows: 1fr 0.7fr 1.5fr 8fr;
  }

  .grid__right-col {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .right-col__extra-options  {
    border: none;
    border-radius: 5px 0 0 0;
    box-shadow: -2px 0 3px rgba(0, 0, 0, 0.2);
  }
  .notes-form {
    border: none;
    /* padding: 10px 13px 30px 13px; */
  }

  /* .notes-input {
    font-size: 12px;
    width: 100%;
    height: 28px;
  }

  .generic-btn {
    font-size: 12px;
    padding: 7px 10px;
  } */
} 

@media screen and (max-width: 550px) {

  .search-form {
    margin-left: 15px;
  }

  /* .search-input {
    width: 200px;
  } */

  .welcome-container {
    font-size: 15px;
  } 

  .logout-btn {
    font-size: 12px;
    width: 70px;
  }
  .grid__left-col {
    min-width: 120px;
  }

  .grid__mid-col {
    min-width: 150px;
    grid-template-columns: 1fr 1fr 1fr 7fr;
    grid-template-rows: 1fr 0.7fr 1.5fr 7fr;
  }

  .mid-col-list-header {
      padding: 20px 0 0 15px;
    }

  .task-total {
    width: 50px;
    font-size: 11px;
    padding: 9px 0;
    margin-left: 15px;
  }

  .total-task-span {
    font-weight: bold;
    font-size: 17px;
    color: #2060BF;
  }

  .completed-total {
    font-size: 11px;
    width: 65px;
    padding: 9px 0;
    margin-left: 3px;

  }

  .completed-tasks-span {
    font-size: 17px;
  }

  .task-tab {
    width: 70px;
    height: 22px;
    font-size: 10px;
    padding: 5px;
  }

  .right-col__extra-options  {
    border: none;
    border-radius: 5px 0 0 0;
    box-shadow: -2px 0 3px rgba(0, 0, 0, 0.2);
  }

  .right-col__task-info {
    padding: 10px;
  }

  .info-header {
    margin-bottom: 5px;
  }

  /* .info-span {
    font-size: 13px;
  } */

  .task-description {
    font-size: 11px;
    width: 100%;
  }

  .notes-form {
    font-size: 16px;
    border: none;
    padding: 10px 13px 30px 13px;
  }

  .notes-input {
    font-size: 12px;
    width: 100%;
    height: 28px;
  }

  .generic-btn {
    font-size: 12px;
    padding: 7px 10px;
  }
}


/* POP UP WINDOW ================================================================ */
#pop-up {
  display: none;
  position: relative;
  /* position: fixed; */
  z-index: 1;
  top: -100px;
  width: 290px;
  margin: 0 auto;
  text-align: center;
}

#pop-up .container {
  background-color: trasparent;
  background-image: url("../images/post-it-single.png");
  /* opacity: 0.9; */
  background-repeat: no-repeat;
  background-size: 290px;
  padding: 90px 0 135px 0;
  position: absolute;
  top: 0px;
  width: 100%;
  /* box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.2); */
  color: black;
  border-radius: 5px;;
  font-size: 14px;
  line-height: 14px;
}

/* .container p{
  margin: 0px;
  font-size: px;
  line-height: 20px;
} */
#pop-up {
  top: -400px;
  transform-origin: 10px 10px;
  animation: drop 0.3s ease forwards;
  /* swing 2s 3s ease forwards; */
}

.cross-btn {
  position: absolute;
  top: 45px;
  left: 55px;
  color: black;
  font-weight: bold;
  width: 22px;
  height: 22px;
}

@keyframes drop {
  0%{}
  70% {
    transform: translateY(520px)
  }
  100% {
    transform: translateY(500px); 
    opacity: 1;
  }
}

/* @keyframes swing {
  0% {transform: translateY(650px) rotateZ(0deg)}
  40% {transform: translateY(650px) rotateZ(90deg)}
  70% {transform: translateY(650px) rotateZ(70deg)}
  100% {transform: translateY(650px) rotateZ(75deg)} */
  
}
